@import "bourbon/bourbon"

body
  @include padding(0)
  @include margin(0)
  text-align: center

#root
  @include size(320px auto)
  @include padding(0)
  @include margin(0)
  text-align: center
  display: inline-block

.searchBar
  display: inline-block

.searchBar form
  @include size(253px auto)
  float: left

.weatherLogo
  @include size(65px)
  @include border-left-radius(5px)
  @include border-style(solid)
  @include border-width(thin)
  @include border-color(#c2c7d0)
  border-right: none
  float: left

// floating labels
.fieldContainer
  @include size(188px 60px)
  float: left

.field
  @include padding(0)
  @include margin(0)
  @include size(188px 30px)
  @include border-color(#c2c7d0)
  @include border-style(solid)
  @include border-width(normal null normal normal)
  line-height: 20px
  font-size: 12px
  display: inline-block

.field:focus,
input:required:invalid
  outline: 0
  box-shadow: none

.floating-label
  @include margin(0)
  @include padding(0)
  @include background(#2B2623)
  @include border-style(solid)
  @include transition(0.2s ease-in-out)
  @include size(188px 31px)
  border-bottom-color: #2B2623
  border-bottom-width: thin
  border-top-width: thin
  border-top-color:  #c2c7d0
  border-left-width: thin
  border-left-color:  #c2c7d0
  border-right-width: thin
  border-right-color:  #c2c7d0
  line-height: 20px
  font-size: 12px
  font-weight: bold
  text-align: center
  color: #ccc
  opacity: 1
  display: block

.field:focus + .floating-label
  @include background(#0B0500)
  color: #ECA163

.searchButton
  @include button(simple, orange)
  @include padding(25px 10px)
  @include border-left-radius(0)
  @include size(65px 67px)
  font-size: 12px
  float: left
